# Introducción a la manipulación de datos con pandas

<img style="float: right; margin: 0px 0px 15px 15px;" src="https://pandas.pydata.org/_static/pandas_logo.png" width="400px" height="400px" />

> El verdadero poder de python viene con sus librerías. Ya en cursos pasados han aprendido varios aspectos relativos a las librerías ([NumPy](https://www.numpy.org/) y [matplotlib](https://matplotlib.org/)). En estos enlaces pueden encontrar la documentación oficial para revisar qué más pueden hacer con estas librerías. También el `help` puede ser un buen punto de partida para conocer qué más cosas pueden realizar.

> Hoy nos dedicaremos a estudiar la librería de Python para análisis de datos: **Pandas**. Durante el transcurso de la asignatura haremos uso extensivo de datos históricos de precios y rendimientos de activos financieros, por tanto es importante tener un manejo básico de pandas.

Referencias:
- https://pandas.pydata.org/
- https://towardsdatascience.com/data-science-with-python-intro-to-loading-and-subsetting-data-with-pandas-9f26895ddd7f
___

# 0. Motivation

Como científicos de datos, normalmente trabajamos con grandes cantidades de datos. 

Los datos que debemos cargar pueden guardarse de muchas maneras distintas: archivos CSV, archivos de Excel, etcétera. Incluso, los datos pueden estar disponibles a través de servicios web. 

Para trabajar con datos, se hace necesario representarlos en una estructura tabular (cualquier cosa con forma de tabla con filas y columnas).

En algunos casos, los datos ya están en forma tabular y es más fácil cargarlos. En otros, debemos trabajar con datos no estructurados o que no están organizados de una manera determinada (texto plano, imágenes, audio, etcétera).

En esta clase nos vamos a concentrar en cargar datos desde archivos CSV (valores separados por coma).

## Pandas

Pandas es una librería de código abierto para el lenguaje de programación Python, desarrollada por Wes McKinney. Es una librería muy eficiente y proporciona estructuras de datos y herramientas de análisis muy fáciles de usar.

Como las librerías que hemos visto antes, Pandas viene instalado por defecto con Anaconda, así que lo único que tenemos que hacer para empezar a trabajar con ella es importarla. La comunidad utiliza normalmente la abreviación pd para referirse a pandas:

In [2]:
# Importar pandas
import pandas as pd

Los **pd.DataFrames** son los objetos por excelencia de pandas para manipular datos. Son eficientes y rápidos. Son la estructura de datos donde pandas carga los diferentes formatos de datos: cuando nuestros datos están limpios y estructurados, cada fila representa una observación, y cada columna una variable o característica. Tanto las filas como las columnas pueden tener etiquetas.

En esta clase vamos a trabajar con datos pertenecientes a ejemplos de la librería featuretools [en esta página](https://docs.featuretools.com/loading_data/using_entitysets.html). Sin embargo para entender cómo es que se cargan estos datos, estos están disponibles en la carpeta data en formato CSV.

En esta y la siguiente clase, además de importar datos, aprenderemos a:
- seleccionar subconjuntos de datos;
- filtrar variables por categorías;
- relacionar tablas con datos complementarios;
- entre otros.

Comenzamos:

___
# 1. Importando datos

En la carpeta "data" tenemos los archivos "customers_data.csv", "sessions_data.csv", "transactions_data.csv" y "products_data.csv", cada uno de ellos conteniendo información relevante acerca de transacciones de cierta empresa.

El primer paso para comenzar a trabajar con datos es importarlos. Lo podemos hacer con la función `pd.read_csv()`:

In [3]:
# Ayuda en la función pd.read_csv()
# help(help)  #ayuda para pedir ayuda de como utilizar la funcion
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, doublequote=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any \
    object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of
        data rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : list-like or callable, default None
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz']. Element
        order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

Muy bien, concentrémonos en los datos de cliente (comenzaremos con estos datos pequeños para ilustrar las funcionalidades, luego iremos añadiendo tamaño):

In [4]:
# Importar customers_data.csv
customers= pd.read_csv('data/customers_data.csv')

In [5]:
customers

   Unnamed: 0  customer_id  zip_code            join_date date_of_birth
0           0            1     60091  2011-04-17 10:48:33    1994-07-18
1           1            2     13244  2012-04-15 23:31:04    1986-08-18
2           2            3     13244  2011-08-13 15:42:34    2003-11-21
3           3            4     60091  2011-04-08 20:08:14    2006-08-15
4           4            5     60091  2010-07-17 05:27:50    1984-07-28

Bien, ya tenemos los datos cargados, sin embargo, se ve algo raro. 

¿Qué es esta columna "Unnamed: 0"? (abrir el CSV)

Para especificar que esta columna corresponde al índice, podemos usar el argumento `index_col`.

In [6]:
customers = pd.read_csv('data/customers_data.csv', index_col=[0]) 
customers

   customer_id  zip_code            join_date date_of_birth
0            1     60091  2011-04-17 10:48:33    1994-07-18
1            2     13244  2012-04-15 23:31:04    1986-08-18
2            3     13244  2011-08-13 15:42:34    2003-11-21
3            4     60091  2011-04-08 20:08:14    2006-08-15
4            5     60091  2010-07-17 05:27:50    1984-07-28

In [4]:
# Importar customers_data.csv, haciendo uso del argumento index_col

In [5]:
# Tipo de objeto con que importa pandas los archivos

Ahora nuestro DataFrame luce bien. Sin embargo, podríamos querer indizar nuestro DataFrame directamente por el id de cliente, utilizando el método `set_index()`:

In [7]:
# Usar el método set_index para indizar por el id de cliente
customers=customers.set_index('customer_id') #se guarda como indice la columna customer_id
#customers.set_index('customer_id', inplace=True) es lo mismo de arriba

In [8]:
# Revisar que paso con la tabla original
customers

             zip_code            join_date date_of_birth
customer_id
1               60091  2011-04-17 10:48:33    1994-07-18
2               13244  2012-04-15 23:31:04    1986-08-18
3               13244  2011-08-13 15:42:34    2003-11-21
4               60091  2011-04-08 20:08:14    2006-08-15
5               60091  2010-07-17 05:27:50    1984-07-28

Podemos ver que pandas no convierte **customer_id** en el índice permanente del DataFrame, a menos que se lo especifiquemos. Para especificarlo, debemos usar el argumento `inplace`

In [9]:
# Usar el método set_index para indizar por el id de cliente, usando el argumento inplace

In [10]:
# Revisar que paso con la tabla original

___
# 2. Indización y selección de datos

Hay muchas formas de las cuales podemos seleccionar datos de DataFrames. Veremos, de acuerdo al artículo al final de este documento, la forma basada en corchetes ([]) y en los métodos `loc()` y `iloc()`.

Con los corchetes, podemos seleccionar ciertas filas, o bien, ciertas columnas. 

Para una selección de filas, podemos usar el indizado como en las listas: [start_index:end_index:step], recordando que el `end_index` no es inclusivo.

Por ejemplo, seleccionar los clientes en las primeras dos filas:

In [11]:
customers[0:2]

             zip_code            join_date date_of_birth
customer_id
1               60091  2011-04-17 10:48:33    1994-07-18
2               13244  2012-04-15 23:31:04    1986-08-18

Ahora, seleccionar del tercer cliente en adelante:

In [12]:
customers[2:]

             zip_code            join_date date_of_birth
customer_id
3               13244  2011-08-13 15:42:34    2003-11-21
4               60091  2011-04-08 20:08:14    2006-08-15
5               60091  2010-07-17 05:27:50    1984-07-28

Finalmente, seleccionar los clientes en las filas impares:

In [13]:
customers[0:5:2] #pasos de 2 en 2

             zip_code            join_date date_of_birth
customer_id
1               60091  2011-04-17 10:48:33    1994-07-18
3               13244  2011-08-13 15:42:34    2003-11-21
5               60091  2010-07-17 05:27:50    1984-07-28

In [14]:
customers[::2]

             zip_code            join_date date_of_birth
customer_id
1               60091  2011-04-17 10:48:33    1994-07-18
3               13244  2011-08-13 15:42:34    2003-11-21
5               60091  2010-07-17 05:27:50    1984-07-28

Similarmente, para una selección de columnas, podemos usar una lista con los nombres de las columnas requeridas. Si pasamos solo una columna como un string en lugar de una lista, el resultado será un objeto **pd.Series**:

In [15]:
# Seleccionar la columna date_of_birth como Series
customers['date_of_birth'] #2 corchetes son para data frame; un corchete es para una lista

customer_id
1    1994-07-18
2    1986-08-18
3    2003-11-21
4    2006-08-15
5    1984-07-28
Name: date_of_birth, dtype: object

In [16]:
# Tipo de objeto pd.Series
type(customers['date_of_birth'])

pandas.core.series.Series

Las Series de pandas son arreglos unidimensionales que pueden ser etiquetados. En algunos casos, querremos seleccionar solo una columna pero mantener esta selección en un DataFrame. En este caso podemos pasar una lista con un solo elemento:

In [17]:
# Seleccionar la columna date_of_birth como DataFrame
customers[['date_of_birth']] #2 corchetes son para data frame; un corchete es para una lista

            date_of_birth
customer_id
1              1994-07-18
2              1986-08-18
3              2003-11-21
4              2006-08-15
5              1984-07-28

In [18]:
# Tipo de objeto pd.DataFrame
type(customers[['date_of_birth']])

pandas.core.frame.DataFrame

Finalmente, seleccionamos dos columnas:

In [19]:
# Seleccionar las columnas date_of_birth y zip_code
customers[['date_of_birth','zip_code']]

            date_of_birth  zip_code
customer_id
1              1994-07-18     60091
2              1986-08-18     13244
3              2003-11-21     13244
4              2006-08-15     60091
5              1984-07-28     60091

Muy bien, ya vimos que los corchetes son útiles. También existen los poderosos métodos `loc` y `iloc`, que nos dan el poder de seleccionar ambos a la vez: columnas y filas.

¿En qué se diferencian?

- El método `loc` nos permite seleccionar filas y columnas de nuestros datos basados en etoquetas. Primero, se deben especificar las etiquetas de las filas, y luego las de las columnas.

- El método `lioc` nos permite hacer lo mismo pero basado en índices enteros de nuestro DataFrame (como si fueran matrices).

Como antes, si queremos seleccionar todas las filas, o columnas, simplemente escribimos `:` en el lugar adecuado.

Mejor con ejemplos:

Para un mejor entendimiento de esta parte, reetiquetaremos la numeración de clientes con una "numeración" alfabética. Es decir: 1-A, 2-B, ..., 5-E.

In [20]:
customers

             zip_code            join_date date_of_birth
customer_id
1               60091  2011-04-17 10:48:33    1994-07-18
2               13244  2012-04-15 23:31:04    1986-08-18
3               13244  2011-08-13 15:42:34    2003-11-21
4               60091  2011-04-08 20:08:14    2006-08-15
5               60091  2010-07-17 05:27:50    1984-07-28

In [21]:
# Resetear índice en el lugar
customers.reset_index(inplace= True)

In [22]:
# Revisar la tabla
customers

   customer_id  zip_code            join_date date_of_birth
0            1     60091  2011-04-17 10:48:33    1994-07-18
1            2     13244  2012-04-15 23:31:04    1986-08-18
2            3     13244  2011-08-13 15:42:34    2003-11-21
3            4     60091  2011-04-08 20:08:14    2006-08-15
4            5     60091  2010-07-17 05:27:50    1984-07-28

In [23]:
# Reasignar índice alfabético
customers.index=['A', 'B','C','D','E']

In [24]:
customers

   customer_id  zip_code            join_date date_of_birth
A            1     60091  2011-04-17 10:48:33    1994-07-18
B            2     13244  2012-04-15 23:31:04    1986-08-18
C            3     13244  2011-08-13 15:42:34    2003-11-21
D            4     60091  2011-04-08 20:08:14    2006-08-15
E            5     60091  2010-07-17 05:27:50    1984-07-28

Ahora sí.

Seleccionemos el primer cliente con ambos métodos:

In [25]:
# Primer cliente con loc
customers.loc['A'] #con el nombre

customer_id                        1
zip_code                       60091
join_date        2011-04-17 10:48:33
date_of_birth             1994-07-18
Name: A, dtype: object

In [26]:
# Primer cliente con iloc
customers.iloc[0] #con el numero del indice

customer_id                        1
zip_code                       60091
join_date        2011-04-17 10:48:33
date_of_birth             1994-07-18
Name: A, dtype: object

Nos dan series, ¿y si queremos DataFrames?

In [27]:
# Primer cliente con loc en DataFrame
customers.loc[['A']] #con el nombre

   customer_id  zip_code            join_date date_of_birth
A            1     60091  2011-04-17 10:48:33    1994-07-18

In [28]:
# Primer cliente con iloc en DataFrame
customers.iloc[[0]] #con el numero del indice

   customer_id  zip_code            join_date date_of_birth
A            1     60091  2011-04-17 10:48:33    1994-07-18

Ahora, seleccionemos los clientes A y C con ambos métodos:

In [29]:
# Clientes A y C con loc
customers.loc[['A','C']]

   customer_id  zip_code            join_date date_of_birth
A            1     60091  2011-04-17 10:48:33    1994-07-18
C            3     13244  2011-08-13 15:42:34    2003-11-21

In [30]:
# Clientes A y C con iloc
customers.iloc[[0,2]]

   customer_id  zip_code            join_date date_of_birth
A            1     60091  2011-04-17 10:48:33    1994-07-18
C            3     13244  2011-08-13 15:42:34    2003-11-21

Ahora, de los clientes B y E, queremos su zip_code y su join_date:

In [31]:
# loc
customers.loc[['B','E'],['zip_code','join_date']]

   zip_code            join_date
B     13244  2012-04-15 23:31:04
E     60091  2010-07-17 05:27:50

In [32]:
# iloc
customers.iloc[[1,4],[1,2]]

   zip_code            join_date
B     13244  2012-04-15 23:31:04
E     60091  2010-07-17 05:27:50

Ahora, queremos solo zip_code y join_date, pero de todos los clientes:

In [33]:
# loc
customers.loc[:,['zip_code','join_date']]

   zip_code            join_date
A     60091  2011-04-17 10:48:33
B     13244  2012-04-15 23:31:04
C     13244  2011-08-13 15:42:34
D     60091  2011-04-08 20:08:14
E     60091  2010-07-17 05:27:50

In [34]:
# iloc
customers.iloc[:,[1,2]]

   zip_code            join_date
A     60091  2011-04-17 10:48:33
B     13244  2012-04-15 23:31:04
C     13244  2011-08-13 15:42:34
D     60091  2011-04-08 20:08:14
E     60091  2010-07-17 05:27:50

¿Qué tal? Ya tenemos varias formas de seleccionar e indexar ciertos datos.

Esto es, sin duda, muy útil. Por otra parte, muchas veces queremos obtener cierta información (clientes, en nuestro ejemplo) que cumplan algunos requisitos. Por ejemplo:
- que sean mayores de 18 años, o
- que su antiguedad en la plataforma sea menor a seis meses, o
- que residan en cierta zona,
- entre otros.

Para ello utilizamos los operadores de comparación (==, >, <, >=, <=, !=).

___
# 3. Filtrado de datos

Los operadores de comparación pueden ser utilizados con Series de pandas. 

Esto resulta ser súper útil para filtrar datos con ciertas condiciones específicas (esto lo veremos enseguida). 

Por ahora, veremos que al usar operadores de comparación con Series, el resultado será Series booleanas. Es decir, cada elemento de dichas series será `True` si la condición se satisface, y `Falso` de lo contrario.

Una vez tenemos la serie boolena, podemos aplicarla para la selección de filas, obteniendo un DataFrame filtrado como resultado.

**Ejemplos**

¿Cuáles clientes son mayores de 18 años?

In [35]:
# Ver tabla
customers

   customer_id  zip_code            join_date date_of_birth
A            1     60091  2011-04-17 10:48:33    1994-07-18
B            2     13244  2012-04-15 23:31:04    1986-08-18
C            3     13244  2011-08-13 15:42:34    2003-11-21
D            4     60091  2011-04-08 20:08:14    2006-08-15
E            5     60091  2010-07-17 05:27:50    1984-07-28

In [36]:
# Adult clients
adult_clients=customers['date_of_birth']<= '2002-01-24'
adult_clients

A     True
B     True
C    False
D    False
E     True
Name: date_of_birth, dtype: bool

In [37]:
customers['date_of_birth']=pd.to_datetime(customers['date_of_birth'], format='%Y-%m-%d ')
customers['date_of_birth']

A   1994-07-18
B   1986-08-18
C   2003-11-21
D   2006-08-15
E   1984-07-28
Name: date_of_birth, dtype: datetime64[ns]

¿Cuáles clientes se registraron después del primero de Junio del 2011?

In [38]:
customers['join_date']=pd.to_datetime(customers['join_date'], format='%Y-%m-%d %H:%M:%S')

In [39]:
customers['join_date']

A   2011-04-17 10:48:33
B   2012-04-15 23:31:04
C   2011-08-13 15:42:34
D   2011-04-08 20:08:14
E   2010-07-17 05:27:50
Name: join_date, dtype: datetime64[ns]

In [40]:
# Recent joins
customers['join_date']>= '2011-06-01'

A    False
B     True
C     True
D    False
E    False
Name: join_date, dtype: bool

¿Cuáles clientes viven en la zona con CP 13244?

In [41]:
customers['zip_code']

A    60091
B    13244
C    13244
D    60091
E    60091
Name: zip_code, dtype: int64

In [42]:
# Zone
zone = customers['zip_code'] == 13244
zone

A    False
B     True
C     True
D    False
E    False
Name: zip_code, dtype: bool

Entonces ya tenemos las series booleanas de las que hablábamos. Ahora, ¿cómo podemos usar esto para obtener la información de los clientes que cumplen estas características?

In [43]:
# Filtrar por clientes adultos
customers[adult_clients]

   customer_id  zip_code           join_date date_of_birth
A            1     60091 2011-04-17 10:48:33    1994-07-18
B            2     13244 2012-04-15 23:31:04    1986-08-18
E            5     60091 2010-07-17 05:27:50    1984-07-28

In [44]:
# Filtrar por registros recientes
customers[zone]

   customer_id  zip_code           join_date date_of_birth
B            2     13244 2012-04-15 23:31:04    1986-08-18
C            3     13244 2011-08-13 15:42:34    2003-11-21

In [45]:
# Se puede hacer todo en una sola línea
customers[customers['join_date']>= '2011-06-01']

   customer_id  zip_code           join_date date_of_birth
B            2     13244 2012-04-15 23:31:04    1986-08-18
C            3     13244 2011-08-13 15:42:34    2003-11-21

In [48]:
# Filtrar por zona
customers[customers['zip_code']] == 13244

KeyError: '[60091 13244 13244 60091 60091] not in index'

**¡Excelente!**

Los filtrados que acabamos de hacer fueron de una sola condición. Ahora, ¿cómo hacer filtrados con múltiples condiciones?

## 3.1 Filtrado con múltiples condiciones

Cuando queremos filtrar datos con múltiples condiciones, podemos usar operadores booleanos (`and`, `or`, `not`), solo con una pequeña modificación. Usamos:

- `&` en lugar de `and`,
- `|` en lugar de `or`, y
- `~` en lugar de `not`.

**Ejemplos**

Obtener la información de los clientes adultos que vivan en la zona con código postal 13244

In [38]:
# En una sola línea

Obtener la información de los clientes que sean adultos o que se hayan registrado luego del 6 de Junio del 2011

Obtener la información de los clientes que **NO** se hayan registrado en 2011

De esta manera, podemos crear condiciones tan complejas y restrictivas como queramos para filtrar nuestros datos.

Útil, ¿no?

## [Artículo recomendado](https://medium.com/dunder-data/minimally-sufficient-pandas-a8e67f2a2428)

<script>
  $(document).ready(function(){
    $('div.prompt').hide();
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('.breadcrumb').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#808080; background:#fff;">
Created with Jupyter by Esteban Jiménez Rodríguez.
</footer>